<div class="modal-header text-center">
    <h3 class="modal-title">{{heroData.name}}</h3>
</div>
<div class="modal-body">
    <table class="table table-striped">
        <tr>
            <th>
                Real Name
            </th>
            <td>
                {{heroData.realName}}
            </td>
        </tr>
        <tr>
            <th>
                Ocupation
            </th>
            <td>
                {{heroData.ocupation}}
            </td>
        </tr>
        <tr>
            <th>
                Origins Story
            </th>
            <td>
                {{heroData.origins}}
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="close()">Close</button>
</div>